*.ipynb_checkpoints
__pychache__/
.vscode/
*__pychache

/data/*
!/data/transition_matrix.csv

/EDA/*
!/EDA/EDA_complete.ipynb

2020_11_17_CustomerClass.py
customer_animated.py
supermarket_animation.py

TODO.txt

